---
layout: page
title: Character Set Reference
redirect_from:
- /_pages/doc/char.html
---
This reference is generated from: <a href="http://www.w3.org/TR/html4/sgml/entities.html ">http://www.w3.org/TR/html4/sgml/entities.html</a> using the <code>entities.tcl</code> demo program from the graphviz distribution.
<p>
<img src="gdtclft.entities.example.png" alt="character glyphs">
